/* + - icons */
#app .icons[data-v-3f186052] {
  height: 100% !important;
  margin: 0!important;
  position: absolute!important;
  top: 0!important;
  right: 40px!important;
}
#app .habit-control .svg-icon {
  display:flex!important;
}
/* --------TASKS-------- */

/* Containers */
#app .tasks-columns {
  flex-wrap: nowrap!important;
  overflow: scroll!important;
}
#app .tasks-column {
  flex: 0 0 33%!important;
  max-width: none!important;
}
#app .task-content {
  padding: 0!important;
  border: none!important;
}
/* Task title */
#app .task-title {
  font-size: 20px !important;
  margin: 0 !important;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}
/* Task notes */
#app .task-notes {
  padding-right: 12px !important;
}
#app .task-notes p:last-child {
  margin: 0!important;
}
#app .task-clickable-area {
  width: calc(100% - 40px)!important;
  display: flex!important;
  flex-direction: row-reverse!important;
  justify-content: flex-end!important;
  border: none!important;
  padding: 0!important;
  padding-right: 26px !important;
}
/* Dropdown menu */
#app .dropdown.task-dropdown {
  display: none!important;
}

/* -------- Counters -------- */
#app .icons-right {
  height: 100%!important;
  flex-direction: column!important;
  align-items: flex-end!important;
}

#app .icons-right > div:first-child {
  height: 100%!important;
}

#app .svg-icon.streak {
  display: none!important;
}

#app .icons-right div > span {
  display: flex!important;
  flex-direction: column!important;
  height: 100%!important;
  justify-content: space-around!important;
  text-align: right!important;
}

#app .icons-right div > span > span:nth-child(2) {
  display: none!important;
}

#app .icons-right .tags {
  position: absolute!important;
  left: -15px!important;
  bottom: 8px!important;
}

#app .daily .icons-right .tags {
  left: 0px!important;
  bottom: 6px!important;
}

#app .type_todo .icons-right .tags {
  left: -16px!important;
  bottom: auto!important;
  top: 10px!important;
}

/* -------- + et - button -------- */
#app .task-control {
  padding: 0!important;
  display: flex!important;
  align-items: center!important;
  justify-content: center!important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 0!important;
  background: initial !important;
  transition: background 150ms ease-in-out!important;
}
/* Hover */
#app .tasks-list .habit-control:not(.task-not-scoreable):hover {
  background: rgba(26, 24, 29, .1)!important;
}
#app .left-control, #app .right-control {
  position: absolute!important;
  right: 0!important;
  width: 32px!important;
  height: 50%!important;
  min-height: auto !important;
  justify-content: center !important;
  align-items: center!important;
  padding-top: 0 !important;
  border-color: transparent !important;
  border-radius: 0 !important;
  z-index: 100!important;
  border: none !important;
}
/* + button */
#app .left-control {
  top: 0!important;
}
/* - button */
#app .right-control {
  bottom: 0!important;
  min-height: auto !important;
  border-top: 1px solid #e5e5e5 !important;
}
/* disabled +- button */
#app .tasks-list .task .habit-control.task-disabled-habit-control-inner {
  background: initial !important;
  cursor: not-allowed!important;
  border: none !important;
}

/* -------- Checkbox -------- */
#app .daily .left-control, #app .todo .left-control {
  height: 100%!important;
  bottom: 0!important;
}
#app .daily-todo-control {
  margin: 0 !important;
  border-radius: 0 !important;
}
#app .daily .daily-todo-control:hover {
  background: hsla(0,0%,100%,.3)!important;
}
#app .daily-todo-control .svg-icon.check {
  display: block!important;
}
#app .daily-todo-control .svg-icon.check,
#app .habit-control {
  color: rgb(0, 0, 0, 20%) !important;
}
/* Disabled daily */
#app .task-disabled-daily-todo-control-content {
  background: #e4e4e4 !important;
  filter: grayscale(1)!important;
}
/* Disabled checkbox */
#app .task-disabled-daily-todo-control-bg {
  background: #c9c9c9!important;
}
